.wrapper {
  width: min(480px, calc(100% - 32px));
  max-height: calc(100dvh - 32px);
  padding: 0;
  overflow: auto;

  &::backdrop {
    background: rgb(0 0 0 / 40%);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.actions {
  display: flex;
  gap: 8px;
}
